---
import BaseLayout from "../layouts/BaseLayout.astro";

const skills = [
  "Design systems",
  "Accessibile solutions",
  "Visually appealing products",
  "Scripting and tinkering",
  "Optimising everyday problems",
];
---

<BaseLayout>
  <main class="wrapper about">
    <section>
      <h2 class="section-title">Background</h2>
      <div class="content">
        <p>
          My name is Darren. I am a full stack developer with a passion for UI
          development and design. I enjoy crafting intuitive, user-friendly web
          interfaces that are exciting and easy to use. I've been building all
          kinds of web things for a while, and I'm always up for new challenges.
        </p>
      </div>
    </section>

    <section>
      <h2 class="section-title">Education</h2>
      <div class="content">
        <span class="education-date">2013 - 2016</span>
        <h4>Bachelor of Software Engineering (Honours)</h4>
        <p>
          <i>
            The Bachelor of Software Engineering (Honours) is a four-year
            program accredited by Engineers Australia and the Australian
            Computer Society. Graduates will obtain skills and capabilities for
            professional software engineering practice, innovation and research.
            We adopt a systems approach to software engineering that not only
            covers the technical aspects of professional practice, innovation
            and research, but also the complex socio-technical context in which
            these activities occur. This includes approaches to dealing with
            uncertainty and risk, design, modern management practices, ethics
            and communication. <a
              href="https://programsandcourses.anu.edu.au/2020/program/ASENG"
              >See more</a
            >
          </i>
        </p>
      </div>
    </section>

    <section>
      <h2 class="section-title">Skills</h2>
      <div class="content">
        <ul>
          {
            skills.map((skill) => (
              <li class="inline">
                <span class="tag">{skill}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  .tag {
    display: inline;
    white-space: nowrap;
  }

  .inline:not(:last-child) .tag::after {
    content: " | ";
    word-spacing: 1em;
  }

  .inline {
    display: inline;
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  .content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
